.App {
  text-align: center;
  
}
.jumbotron{
  background-color: #2E4959;
  color: #fff;
}
.sideBar{
   background-color: #5A7E8C;
  color: #fff;
}
.bioBackground{
  background-color: #8AB0BF;
  color: #fff;
}
.bioTxt{
  font-size: 25px;
}
.thumbnail{
  padding-bottom: 50px;
}

.skillBackground{
  background-color: #BF6B63;

}
