.App {
  text-align: center;
  
}

.header{
  background-image: url("https://w.wallhaven.cc/full/9m/wallhaven-9m5owx.jpg");
  
  color:white;
}
.bio{
  background-image: url("https://w.wallhaven.cc/full/3k/wallhaven-3k7qjv.jpg");
}