.App {
  text-align: center;
  
}

.jumbotron{
  background-color: #2E4959;
  color: #fff;
}
.sideBar{
   background-color: #5A7E8C;
  color: #fff;
}
.bioBackground{
  background-color: #8AB0BF;
  color: #fff;
}
.bioTxt{
  font-size: 25px;
}
.thumbnail{
  padding-bottom: 50px;
}
.skillBackground{
  background-color: #BF6B63;

}
.bioImg{
  margin-top: 80px;
  border-radius: 15px;
  width: 100%;
}
.bioBackgroundImg{
  background-image: url("https://w.wallhaven.cc/full/3k/wallhaven-3k7qjv.jpg");
}